<!DOCTYPE html>
<head>
  <title> Puppy Shop</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <p>Please enter the puppy details below</p>
  <form action="/display_puppy" method="POST">
    <label name = 'name'>Name: </label>
    <input type="text" name="name"></br>
    <label name = 'breed'>Breed: </label>
    <input type="text" name="breed"></br>
    <label name = 'age'>Age: &nbsp&nbsp</label>
    <input type="text" name="age"></br>
    <input type="submit" name="sumbit">
    </br>
  </form>
</body>
