<!DOCTYPE html>
<head>
  <title> Puppy Shop</title>
</head>

<body>
  <h1>You have sucessfully submitted:</h1>
  <p>Puppy Name: <%=@dog.name%></p>
  <p>Puppy Breed: <%=@dog.breed%></p>
  <p>Puppy Age: <%=@dog.age%></p>

</body>
